<% form_for(@user, :builder => BYCForm) do |f| %>
<fieldset>
<legend>Please Enter necessary information</legend>
<ol>
  <%= f.text_field :name, :required => :all %>
  <%= f.text_field :tagline, :required => :all %>
  <%= f.text_field :email, :required => :all %>
  <%= f.text_field :mobile %>
  <%= f.text_field :languages %>

    <%= f.text_area :summary, :required => :all %>
    <%= f.text_field :address %>
    <%= f.text_field :landmark %>
    <%= f.text_field :education, :required => :all %>
    <%= f.text_field :website %>
    <%= f.text_field :company %>
    <%= f.text_field :designation %>
    <%= f.text_field :areas_of_speciality, :required => :all %>
    <%= f.date_select :birth_date %>
    <%= f.text_field :nationality %>
    <%= f.text_area :interests %>
  <li>
  <label><%= button_to_function 'Back &laquo;', "window.location.href='#{users_path}'" %></label>
    
    <%= f.submit 'Create &raquo;' %>
  </li>
  </ol>
  </fieldset>
<% end %>
