<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Tagline:</b>
  <%=h @user.tagline %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @user.mobile %>
</p>

<p>
  <b>Languages:</b>
  <%=h @user.languages %>
</p>

<p>
  <b>Summary:</b>
  <%=h @user.summary %>
</p>

<p>
  <b>Address:</b>
  <%=h @user.address %>
</p>

<p>
  <b>Landmark:</b>
  <%=h @user.landmark %>
</p>

<p>
  <b>Education:</b>
  <%=h @user.education %>
</p>

<p>
  <b>Website:</b>
  <%=h @user.website %>
</p>

<p>
  <b>Company:</b>
  <%=h @user.company %>
</p>

<p>
  <b>Designation:</b>
  <%=h @user.designation %>
</p>

<p>
  <b>Areas of speciality:</b>
  <%=h @user.areas_of_speciality %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @user.birth_date %>
</p>

<p>
  <b>Nationality:</b>
  <%=h @user.nationality %>
</p>

<p>
  <b>Interests:</b>
  <%=h @user.interests %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>